.borderBgSide{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.98) 0%, rgba(0,0,0,0) 17%, rgba(0,0,0,0) 83%, rgba(0,0,0,0.98) 100%);
}
.borderBgButtom{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.98) 0%, rgba(0,0,0,0) 80%);
}
.buyBtn:hover{
    background-color: #da1633;
}