.subCatagoryBtn{
    transition: 0.2s;
    transition-duration: 200ms;
}

.subCatagoryBtn:hover{
    background-color: rgb(221, 221, 221);
}

.smallCardHover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scale(1.05);
}

.smallCard{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
}