.card-container {
    transition: transform 0.5s ease;
  }

.card-container:hover {
   transform: translateY(-11px);
}
  
@media (max-width: 768px) {
    .card-container:hover {
      transform: translateY(-5px);
    }
}