/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./components/homeContent/homeContent.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.card-container {
    transition: transform 0.5s ease;
  }

.card-container:hover {
   transform: translateY(-11px);
}
  
@media (max-width: 768px) {
    .card-container:hover {
      transform: translateY(-5px);
    }
}
